<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal text-body-emphasis">
    Projeto Integração C# com Angular
  </h1>
  <p class="fs-5 text-body-secondary">
    Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e
    de impressos, e vem sendo utilizado desde o século XVI, quando um impressor
    desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro
    de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como
    também ao salto para a editoração eletrônica, permanecendo essencialmente
    inalterado. Se popularizou na década de 60, quando a Letraset lançou
    decalques contendo passagens de Lorem Ipsum, e mais recentemente quando
    passou a ser integrado a softwares de editoração eletrônica como Aldus
    PageMaker..
  </p>
</div>

<main class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col"></div>

  <div class="card-header py-3">
    <form class="form-signin" data-bitwarden-watching="1">
      <h1 class="h3 mb-3 font-weight-normal">Faça login</h1>
      <label for="inputEmail" class="sr-only">Endereço de email</label>
      <input
        type="email"
        id="inputEmail"
        class="form-control"
        placeholder="Seu email"
        required=""
        autofocus=""
      />
      <label for="inputPassword" class="sr-only">Senha</label>
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Senha"
        required=""
      />
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" /> Lembrar de mim
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Login
      </button>
    </form>
  </div>

  <div class="col"></div>
</main>
