<div
  class="offcanvas-lg offcanvas-end bg-body-tertiary"
  tabindex="-1"
  id="sidebarMenu"
  aria-labelledby="sidebarMenuLabel"
>
  <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          class="nav-link d-flex align-items-center gap-2 active"
          aria-current="page"
          routerLink="/"
        >
          <svg class="bi"><use xlink:href="#house-fill"></use></svg>
          Login
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" routerLink="/clientes">
          <svg class="bi"><use xlink:href="#people"></use></svg>
          Clientes
        </a>
      </li>
    </ul>
  </div>
</div>
